body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('/images/soporte.jpeg');
    background-size: cover; /* Mantiene la imagen de fondo llena */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Asegura que el fondo ocupe toda la altura de la ventana */
}

/* Cambiar el color de fondo del header a púrpura */
header {
    background: #5D3FD3; /* Color púrpura */
    color: white;
    padding: 10px 0;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad para ver la imagen de fondo */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-item {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #5D3FD3; /* Color púrpura */
    color: white;
    position: relative; /* Cambiado a 'relative' para evitar problemas de superposición */
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background: #5D3FD3; /* Color púrpura */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #4A2A94; /* Un tono púrpura más oscuro para el hover */
}
